// Place all the styles related to the photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Photo Index Page
.all-photos-container {

	.photo-container {
		height: 200px;
		margin-bottom: 40px;

		.photo-hover-block {
			width: 100%;
			position: relative;
			bottom: 40px;
			height: 40px;
			background-color: #000;
			opacity: .6;
			color: white;
			text-align: center;
			line-height: 40px;
			display: none;
		}

		img {
			width: 100%;
			height: 100%;
		}
	}
}

// Show Photo Page
.show-photo-main {

	.show-photo {
		width: 100%;
		margin: 20px;
	}
}

.show-photo-comments {
	
	.comment {
		margin-top: 20px;
		background-color: #E6E6E6;
		border-radius: 4px;
		
		.comment-meta {
			color: #999;
			font-size: 10px;
		}

		.comment-content {
			margin-left: 20px;
		}

	}

}